/* Custom Style */

/* Header - Bar */
.header-fixed.subheader-fixed .header {
    -webkit-box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%) !important;
    box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%) !important;
}
@media (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 85px;
    }
}

/* Aside - Bar */
.brand {
    background-color: #0235bd;
}
.aside {
    background-color: #0046ce;
}
.aside-menu {
    background-color: #0046ce;
}
.aside-menu .menu-nav > .menu-item > .menu-heading,
.aside-menu .menu-nav > .menu-item > .menu-link {
    height: 80px !important;
    width: 140px !important;
    right: -5px !important;
    border-radius: 3rem 0 0 3rem !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #0235bd;
}
.aside-menu .menu-nav > .menu-item.menu-item-active:before,
.aside-menu .menu-nav > .menu-item.menu-item-active:after {
    position: absolute;
    right: 0;
    content: "";
    width: 4rem;
    height: 2rem;
    background-color: #0046ce;
    z-index: 1;
}
.aside-menu .menu-nav > .menu-item.menu-item-active:before {
    top: -2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.aside-menu .menu-nav > .menu-item.menu-item-active:after {
    bottom: -2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link:before,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link:after {
    position: absolute;
    right: 0;
    content: "";
    width: 3rem;
    height: 2rem;
    background-color: #0235bd;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link:before {
    top: -2rem;
    border-radius: 3rem 3rem 0 3rem;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link:after {
    bottom: -2rem;
    border-radius: 3rem 0 3rem 3rem;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: #E0E7FF;
}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav > .menu-item > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #E0E7FF;
}
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #312E81 !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #E0E7FF;
}
@media (min-width: 992px){
    .aside .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
        font-size: 0.95rem;
    }
}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    color: #E0E7FF;
    text-align: center;
    z-index: 2;
}
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-link .menu-text {
    color: #312E81 !important;
}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow {
    color: #e0e7ff;

}
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-link .menu-arrow {
    color: #312E81 !important;
}
@media (min-width: 992px){
    .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav {
        padding: 10px 0;
    }
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-subnav {
    /* max-height: 300px;
    overflow-y: overlay; */
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading i,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link i {
    margin-top: .4rem;
    margin-right: 1rem;
    width: 2rem;
    text-align: center;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-subnav > .dropdown-label,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-subnav > .dropdown-label {
    color: #0235bd;
    padding: 0 1rem .5rem 1rem;
}

/* Cards */
.card {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%) !important;
    border-radius: 3rem;
}
.card-rounded {
    border-radius: 0 0 3rem 3rem;
}
.card-header:first-child {
    border-radius: 3rem 3rem 0 0;
}
.card-rounded-bottom .apexcharts-canvas svg {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/* Form - Inputs */
input.form-control,
textarea.form-control,
select.form-control {
    background-color: #f3f6f9;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
}
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    background-color: #ffffff;
    border: solid 1px #0046ce;
}
input.form-control ~ label,
textarea.form-control ~ label,
select.form-control ~ label {
    position: absolute;
    left: 1rem;
    top: 10px;
    color: #b5b5c3 !important;
    z-index: 3;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
}
.input-group-append input.form-control ~ label,
.input-group-append select.form-control ~ label {
    left: 1rem;
}
.input-group-prepend input.form-control ~ label,
.input-group-prepend select.form-control ~ label {
    left: 4.8rem;
}
input.form-control:focus ~ label,
input.form-control:not(:placeholder-shown) ~ label,
textarea.form-control:focus ~ label,
textarea.form-control:not(:placeholder-shown) ~ label,
select.form-control:focus ~ label,
select.form-control:valid ~ label {
    left: 0;
    top: -20px;
    color: #0046ce !important;
}
.bootstrap-select > .dropdown-toggle.btn-light,
.bootstrap-select > .dropdown-toggle.btn-secondary {
    background: #f3f6f9 !important;
}
.bootstrap-select.show > .dropdown-toggle.btn-light,
.bootstrap-select.show > .dropdown-toggle.btn-secondary {
    border-color: #0046ce !important;
}

/* Buttons */
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
    background-color: #0235bd;
    border-color: #0235bd;
}

/* Modals */
.modal.secondary {
    background: rgba(0, 0, 0, .2);
}
.modal-xxl {
    max-width: 1600px;
}

/* stepper */

.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:"Font Awesome 5 Free";
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family: "Font Awesome 5 Free";
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
